@font-face {
  font-family: "iconfont"; /* Project id 3567033 */
  src: url('iconfont.woff2?t=1698137427069') format('woff2'),
       url('iconfont.woff?t=1698137427069') format('woff'),
       url('iconfont.ttf?t=1698137427069') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-in:before {
  content: "\e669";
}

.icon-tuceng:before {
  content: "\e615";
}

.icon-a-qingtianwanshang:before {
  content: "\e614";
}

.icon-taiyang:before {
  content: "\e613";
}

.icon-zhinengshibie:before {
  content: "\e81e";
}

.icon-zhongyingwenqiehuan-yingwen:before {
  content: "\e60f";
}

.icon-zhongyingwenqiehuan-zhongwen:before {
  content: "\e60e";
}

.icon-lishi:before {
  content: "\e60d";
}

.icon-json:before {
  content: "\e7bd";
}

.icon-logistic:before {
  content: "\e811";
}

.icon-a-zhutiqiehuan1:before {
  content: "\e606";
}

.icon-ditu:before {
  content: "\e605";
}

.icon-suofang:before {
  content: "\e604";
}

.icon-qingkong:before {
  content: "\e603";
}

.icon-zishiying:before {
  content: "\e618";
}

