.ant-tabs-nav-wrap {
  margin-left: 20px;
}

.popup-trigger {
  .ant-form-item-control {
    align-items: flex-end;
  }
}

.ant-tabs {
  .ant-tabs-nav {
    margin: 0 !important;
  }

  .ant-tabs-content-holder {
    height: calc(100% - 46px);
  }
  .ant-tabs-tabpane,
  .ant-tabs-content {
    height: 100%;
  }
}
