.map-content {
  display: flex;
  height: 100%;

  &__left,
  &__right {
    height: 100%;
  }

  &__left {
    width: 33px;
    border-right: 1px solid 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.map-content__right {
  width: calc(100% - 34px);
}

.ant-tabs-nav-wrap {
  margin-left: 20px;
}

.popup-trigger {
  .ant-form-item-control {
    align-items: flex-end;
  }
}

.ant-tabs {
  .ant-tabs-nav {
    margin: 0 !important;
  }

  .ant-tabs-content-holder {
    height: calc(100% - 46px);
  }

  .ant-tabs-tabpane,
  .ant-tabs-content {
    height: 100%;
  }
}